.ng-dirty.ng-invalid {
	border-color: #FA787E;
}

.ng-dirty.ng-valid {
	border-color: #78FA89;
}

.color-tab{
	color: #ffffff;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.rating .filled {
    color: orangered;
}
.clear{
  margin-top:20px;
}