<footer class="footer footer-default">
    <div class="container">
        <nav class="float-right">
            <ul>
                <li>
                    <a href="https://www.flatlanders-store.com/">
                        Flatlanders Store
                    </a>
                </li>
                <li>
                    <a href="https://www.flatlanders-store.com/presentation">
                        Acerca de Nosotros
                    </a>
                </li>
                <li>
                    <a href="https://www.flatlanders-store.com/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.flatlanders-store.com/license">
                        Licencias
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>