<div class="tab-pane" ng-show="prod.isSet(1)">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-inline small" class="reviews">
                <li ng-repeat="review in prod.detail.reviews">
                    <blockquote>
                        <ul class="list-inline small">
                            <li class="list-inline-item" ng-repeat="n in [] | range:review.stars">
                                <i class="fa fa-star text-rose"></i>
                            </li>
                        </ul>
                        <p>{{review.body}}</p>
                        <cite class="clearfix">- {{review.author}} on {{ review.createdOn | date}}</cite>
                    </blockquote>
                    <hr>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h5 class="mt-4">Add a Review</h5>
            <div ng-repeat="rating in rTab.ratings">
                <h2>{{rating.current}} /
                    {{rating.max}}</h2>
                    <star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)">
                    </star-rating>
            </div>
            <form name="reviewForm" ng-submit="reviewForm.$valid && addReview(prod.detail)" novalidate>
                <div class="form-group bmd-form-group" ng-class="{'is-focused': false}">
                    <textarea type="text" class="form-control" id="your-review" rows="4" required></textarea>
                    <label for="your-review" class="bmd-label-floating">Add your review</label>
                    <span class="bmd-help">Your review will be awesome</span>
                </div>
                <div class="form-group bmd-form-group" ng-class="{'is-focused': false}">
                    <label for="name-review" class="bmd-label-floating">Name</label>
                    <input type="text" class="form-control" id="name-review" required />
                    <span class="bmd-help">Let us know your name</span>
                </div>
                <div class="form-group bmd-form-group" ng-class="{'is-focused': false}">
                    <label for="email-review" class="bmd-label-floating">Email</label>
                    <input type="email" class="form-control" id="email-review" required />
                    <span class="bmd-help">Let us know your email</span>
                </div>
                <div class="text-right pb-2">
                    <button type="button" class="btn btn-rose">Add Review</button>
                </div>
            </form>
        </div>
    </div>
</div>